<h2>My Heroes</h2>

<div>
    <label>Add new Hero:</label> <input #heroName placeholder="name" />
    <button (click)="addHero(heroName.value); heroName.value=''">
        Add
    </button>
</div>

<ul class="heroes">
    <li *ngFor="let hero of heroes" [class.selected]="hero === selectedHero" (click)="onselect(hero)">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
    </li>
</ul>

<div *ngIf="selectedHero">
    <h2> {{selectedHero.name | uppercase}} is my hero </h2>
    <button (click)="gotoDetail()">View Details</button>
</div>

<div *ngIf="selectedHero">
    <label>Delete selected hero -></label>
    <button (click)="delHero(selectedHero)">Delete</button>
</div>